/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font: 'Inter-Variable', sans-serif;
    --font_accent: 'PressStart2P', fantasy;
    --text_stroke: #fff;
    --accent_color: #000;
    --background_color: #fff;
    --heart: #FF0000;
    --mix_mode: #fff;
    --fvs_min: 400;
    --fvs_max: 700;
    --background_image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --content_size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}